<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>远景系统 &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import '/css/default.css';
      @import '/css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import '/css/print.css';
    </style>
    <meta content='Official opensight website' name='subject'>
    <link href='/images/favicon.png' rel='shortcut icon'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='http://opensight.com.cn/' title="OpenSight Home"><img alt='OpenSight' src='/images/opensight_logo.png'></a>
        <div class='tagline'>开源视频监控技术领导者</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>关于我们
            <ol class="toc">
              <li><a href='/index.html'>主页</a></li>
              <li><a href='/philosophy.html'>源景理念</a></li>
              <li><a href='/blogs_index.html'>最新动态</a></li>
              <li><a href='https://github.com/OpenSight/OpenSight.github.io/wiki'>团队Wiki</a></li>
            </ol>
          </li>
          <li>产品&amp;服务
            <ol class="toc">
              <li><a href='/storage_server.html'>存储服务器</a></li>
              <li><a href='/ip_storage.html'>IP存储</a></li>
              <li><a href='/nvr_storage.html'>NVR存储</a></li>
              <li><a href='/tech_consult.html'>技术咨询</a></li>
             </ol>
          </li>
          <li>开源项目&amp;社区
            <ol class="toc">
              <li><a href='/openstorage/'>OpenStorage</a></li>
              <li><a href='/opennvr/'>OpenNvr</a></li>
            </ol>
          </li>
          <li>支持&amp;合作
            <ol class="toc">
              <li><a href='/contact.html'>联系我们</a></li>
              <li><a href='/download.html'>文档下载</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id="{{ page.title | downcase | replace:' ', '_' }}">{{ page.title }}</h1>
        {{ content | toc }}
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2013-2013 The OpenSight Team</div>
    </div>
  </body>
</html>
